<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm your email</title>
</head>

<body>
    <p>Hi {{customer.login}}, welcome to our sales platform! In order to validate your account, you must validate
        your email, and it can be done in the link below:</p>

    <a href="{{otp_url}}">Validate your email</a>
</body>

</html>