<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirme seu email</title>
</head>

<body>
    <p>Olá {{customer.login}}, seja bem vindo à nossa plataforma! Para conseguirmos validar sua conta, é necessário que
        você valide a seu email no link abaixo:</p>

    <a href="{{otp_url}}">Validar seu email</a>
</body>

</html>